<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Imobiliário{% endblock %}</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100">

  {% include "navbar.html" %}

  <main class="max-w-5xl mx-auto px-4 py-6">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="mb-4 p-3 bg-white border-l-4 border-{{ category }}">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <form action="/exportar_excel" method="get" class="flex gap-2">

      <select name="mes" class="border p-1">
      <option value="1">Jan</option>
      <option value="2">Fev</option>
      <option value="3">Mar</option>
      <option value="4">Abr</option>
      <option value="5">Mai</option>
      <option value="6">Jun</option>
      <option value="7">Jul</option>
      <option value="8">Ago</option>
      <option value="9">Set</option>
      <option value="10">Out</option>
      <option value="11">Nov</option>
      <option value="12">Dez</option>
      </select>

      <select name="ano" class="border p-1">
      <option>2024</option>
      <option>2025</option>
      <option>2026</option>
      </select>

      <button class="bg-green-600 text-white px-3 py-1 rounded">
      Exportar Excel
      </button>

      </form>

    {% block content %}{% endblock %}
  </main>

</body>
</html>
